* {
    margin: 0;
    padding: 0;
}

body {
    height: 2000px;
    margin: 10px 0;
}

fieldset {
    height: 2000px;
    position: relative;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
}

section {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 10px;
    right: 1px solid #000;
    margin: scroll;
}

input,
button {
    padding: 7px;
}

.floating {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

hr {
    margin: 3px 0;
}